.descriptions-pro {
  &.text-align-center {
    .ant-descriptions .ant-descriptions-item-label {
      text-align: center;
    }
    .ant-descriptions .ant-descriptions-item-content {
      text-align: center;
    }
  }
  .ant-descriptions-item > span {
    vertical-align: middle;
  }
}
