.full_img {
  height: auto;
  cursor: pointer;
  // margin: 6px 0;
}

.img_box {
  outline: none;
  cursor: pointer;
}
.picture {
  margin: 0 auto;
  object-fit: cover;
}

.full-img-modal {
  .ant-modal-body {
    padding: 12px;
  }
}
