.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  .modal-overlay {
    width: 100%;
    height: 100%;
    &.modal-mask {
      background: rgba($color: #000000, $alpha: 0.45);
    }
  }
  .modal-animate-box {
    position: absolute;
    width: 100%;
    transform-origin: 0 0 0; // 设置缩放中心在左下角
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  .modal-header {
    position: relative;
    height: 40px;
    .modal-close-button {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .modal-content {
    padding: 18px;
  }
}
